# ignore pycache everywhere
__pycache__/

# ignore test file in repo root
/test.py

# Python virtual environment
.venv/

# ignore demo video and thumbail image lol I just put them in the project directory
# to make Markdown embedding easier
/demo.mp4
/thumbnail.jpeg